<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 calendar">
                    <router-view></router-view>
                </div>
                <listTime :class="{'hide': this.$store.state.listTimeHide}"></listTime>
            </div>
        </div>
        <!-- <div class="container">
            {{ this.$store.state.selectedSpacingSetTime }}
        </div> -->
    </div>
</template>

<script>
import listTime from '../components/listTime'

const newDate = new Date();

export default {
    data(){
        return{
            dateNow: {
                year: newDate.getFullYear(),
                month: newDate.getMonth(),
                day: newDate.getDate(),
            }
        }
    },
    components: {
        listTime
    },
    methods: {
        updateDate () {
            this.$store.state.selectedYear = this.dateNow.year;

            if( location.pathname == '/' || location.pathname == '/' + this.$store.state.monthLabels[this.dateNow.month] ){
                this.$store.state.selectedMonth = this.dateNow.month;
                this.$store.state.selectedDayInMonth = this.dateNow.day;
            }
        }
    },
    mounted(){
        this.$store.state.dayNow = this.dateNow.day
        this.$store.state.monthNow = this.dateNow.month
        this.updateDate()
    }
}
</script>

<style lang="scss" scoped>
.calendar{
    background-color: rgb(147, 147, 255);
    padding: 30px;
    position: relative;
    z-index: 1;
}
</style>
