<template>
    <div class="calendar__table">
        <div class="weekday-labels">
            <div
                v-for="(label, i) in $store.state.weekdayLabels"
                :key="i"
                class="weekday-label">
                <span>{{ label.substring(0,1) }}</span>
            </div>
        </div>
        <div class="weekday-numbers">
            <div
                v-for="(i) in $store.state.daysInMonth[$store.state.selectedMonth]"
                :key="i"
                @click="selectDay($event, i)"
                class="weekday-number"
                :class="{
                    'disabled': disabledDays( saturdayDays, i ) || disabledDays( sundayDays, i ) || disabledPastDates(i), 
                    'selected': checkHasDisabledClass(i)
                }">
                <span>{{ i }}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            saturdayDays: [1, 8, 15, 22, 29],
            sundayDays: [7,14,21,28]
        }
    },
    methods: {
        selectDay (event, i) {
            let el = event.currentTarget;
            if ( !el.classList.contains('disabled') ){
                this.$store.state.selectedDayInMonth = i;
            }

            if ( el.classList.contains('selected') ){
                this.$store.state.selectedDayInMonth = 32
                this.$store.state.listTimeHide = true
            } else {
                this.$store.state.listTimeHide = false
            }
        },
        disabledDays (arr, i) {
            return arr.some(function(number){ return number == i })
        },
        disabledPastDates (i) {
            if(
                this.$store.state.monthNow == this.$store.state.selectedMonth &&
                i < this.$store.state.dayNow ||
                this.$store.state.monthNow > this.$store.state.selectedMonth
            ){
                return true
            }
        },
        checkHasDisabledClass (i) {
            if (
                i == this.$store.state.selectedDayInMonth && 
                this.$store.state.selectedMonth >= this.$store.state.monthNow
            ) {
                if ( 
                    this.$store.state.selectedMonth == this.$store.state.monthNow &&
                    i < this.$store.state.dayNow 
                ) {
                    return false
                } else {
                    return true
                }
            }
        },

        addressParse () {
            let urlPathName = location.pathname.replace('/', '').split('-');

            if(urlPathName[0] != '' || urlPathName[0] != 'undefined'){
                for(var i = 0; i < this.$store.state.monthLabels.length; i++){
                    if(this.$store.state.monthLabels[i] == urlPathName[0]){
                        this.$store.state.selectedMonth = i;
                    }
                }
            }

            if(urlPathName[1] != 'undefined'){
                this.$store.state.selectedDayInMonth = parseInt(urlPathName[1]);
            }
            
        }
    },
    mounted() {
        this.addressParse()
    }
}
</script>

<style lang="sass" scoped>
.weekday-labels, .weekday-numbers
    display: flex
    flex-wrap: wrap

.weekday-label, .weekday-number
    width: calc(100% / 7)
    color: #fff
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    user-select: none

.weekday-number
    cursor: pointer
    transition: .3s
    &:hover
        background-color: rgb(255, 209, 57)
        color: #fff
    
    &.selected
        background-color: rgb(243, 172, 39)
        color: #fff
    
    &.disabled
        span
            text-decoration: line-through
            color: #333
        
        &:hover
            background-color: transparent
</style>
