<template>
    <div class="col-md-6 time-in-day">
        <h3 class="title">Select a time on {{ this.$store.state.monthLabels[this.$store.state.selectedMonth] }} {{ this.$store.state.selectedDayInMonth }}th, {{ this.$store.state.selectedYear }} that works best for you!</h3>
        <div class="list-time" v-show="checkMonth()">
            <div
                v-for="(time, i) in this.$store.state.arrTimeInterval"
                :key="i" 
                class="time"
                @click="addTime(i)"
                :class="{'selected': complianceСheck(time, i)}">
                <span> {{ time }} </span>
            </div>
        </div>
        <div class="no-time" v-show="!checkMonth()">
            <p>Sorry, this date has expired!</p>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return{
            arrSelectedTime: []
        }
    },
    methods: {
        checkMonth () {
            if( 
                this.$store.state.selectedDayInMonth >= this.$store.state.dayNow && this.$store.state.selectedMonth == this.$store.state.monthNow ||
                this.$store.state.selectedMonth > this.$store.state.monthNow
            ) {
                return true
            }
        },

        pushToState (i) {
            let newObj = {
                month: this.$route.params.id, 
                day: this.$store.state.selectedDayInMonth, 
                time: i
            }

            this.$store.state.selectedSpacingSetTime.push( newObj );
        },

        addTime (index) {
            if(this.$store.state.selectedSpacingSetTime.length == 0){
                this.pushToState(index);
            } else {
                for(var i = 0; i < this.$store.state.selectedSpacingSetTime.length; i++){
                    /* При совпадении дат происходит прерывание цикла */
                    if( 
                        this.$store.state.selectedSpacingSetTime[i].time == index && 
                        this.$store.state.selectedSpacingSetTime[i].day == this.$store.state.selectedDayInMonth &&
                        this.$store.state.selectedSpacingSetTime[i].month == this.$route.params.id
                    ){
                        this.$store.state.selectedSpacingSetTime.splice(i ,1)
                        break;
                    }

                    /* Если не было совпадений, добавить объект в массив хранилища vuex */
                    if( i === this.$store.state.selectedSpacingSetTime.length - 1){
                        this.pushToState(index);
                        break;
                    }
                }
            }
        },

        complianceСheck (time, index) {

            for(var i = 0; i < this.$store.state.selectedSpacingSetTime.length; i++){
                /* При совпадении дат происходит прерывание цикла */
                if( 
                    this.$store.state.selectedSpacingSetTime[i].time == index && 
                    this.$store.state.selectedSpacingSetTime[i].day == this.$store.state.selectedDayInMonth &&
                    this.$store.state.selectedSpacingSetTime[i].month == this.$route.params.id
                ){
                    return true
                }
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.time-in-day{
    background-color: rgb(243, 243, 243);
    padding: 40px;
    transform: translateX(0%);
    position: relative;
    z-index: 0;
    transition: .5s;
    opacity: 1;
    user-select: none;
    &.hide{
        transform: translateX(-100%);
        opacity: 0;
    }
}
.title{
    text-align: left;
    font-size: 22px;
}
.list-time{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.time{
    width: 90px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    &:hover{
        background-color: rgb(255, 209, 57);
        color: #fff;
    }
    &.selected{
        background-color: rgb(243, 172, 39);
        color: #fff;
    }
}
.no-time{
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}
</style>
