<template>
    <div class="calendar__month">
        <b-dropdown id="dropdown-1" text="Select a Date for your Free LASIK Exam" class="m-md-2">
            <b-dropdown-item-button
                v-for="(month, i) in $store.state.monthLabels" 
                :key="i"
                @click="$store.state.selectedMonth = i">
                <router-link 
                    :to="'/' + month"
                    class="router-link">{{ month }}</router-link>
            </b-dropdown-item-button>
        </b-dropdown>

        <h2 class="calendar__title-month">
            {{ this.$store.state.monthLabels[this.$store.state.selectedMonth] }} {{ this.$store.state.selectedYear }}
        </h2>
        
        <calendar-days></calendar-days>
    </div>
</template>

<script>
import calendarDays from '../components/calendarDays'

export default {
    components: {
        calendarDays,
    }
}
</script>

<style lang="scss" scoped>
.calendar__title-month{
    color: #fff;
}
.dropdown-item{
    padding: 0;
}
.router-link{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
}
</style>


<style lang="scss">
.btn.btn-secondary.dropdown-toggle{
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    &:focus, &:active{
        box-shadow: none;
    }
}
</style>